    body {
      font-family: Arial, sans-serif;
      background: #f0f2f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .login-container {
      background: #fff;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 300px;
      text-align: center;
    }

    .login-container h2 {
      margin-bottom: 0rem;
      color: #333;
    }

    .login-container h3 {
      margin-bottom: 1rem;
      color: #666666;
    }

    .login-container input {
      width: 275px;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .login-container button {
      width: 200px;
      padding: 10px;
      margin: 20px 0;
      background: #4CAF50;
      border: none;
      color: white;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }

       .login-container button:disabled{
        background: #ccc;
        cursor: not-allowed;
    }

    .login-container button:disabled:hover{
        background: #ccc;
    }

    .login-container button:hover {
      background: #45a049;
    }

    .login-container a {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      color: #007BFF;
      text-decoration: none;
    }

    .login-container a:hover {
      text-decoration: underline;
    }

    .padding {
        padding: 10px;
    }

    .confirm-input {
      border: 2px solid red;
      background-color: #ffecec;
    }

    .message {
        color: #f00;
        font-size: 14px;
        margin-top: 5px;
    }

    .error {
      border-color: red;
      background-color: #ffecec;
    }

    .check {
        display: none;
        font-size: 12px;
        text-align:  left;
        margin: 0;
        transition: 1s ease-in-out;
    }

    .entropy-container {
        margin:  20px 5px;
        align-items: start;
        display: none;
        text-align:  left;
    }

    .entropy-container p {
        font-size:  12px;
        margin: 8px 0;
    }

    .entropy {
        background-color: #f00;
        height: 8px;
        width: 100%;
        border-radius: 5px;
    }

    .name-container {
        display: flex;
        gap: 10px; /* space between inputs */
        align-items: center;
        justify-content: center;
    }

    .name-container input {
        flex: 1; /* make both inputs equal width */
        max-width: 41%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
    }

    #codeInput {
        display: none;
    }

    #codeCheck {
        display: none;
    }

    #passwordInput {
        display: none;
    }

    #confirmPassword {
        display: none;
    }